.nav-profile {
  height: 150px;
  padding: 20px 0px 0 20px;
  background-image: url("../../../../assets/images/bg.jpg");
  background-size: cover;
  background-position: center;
}

.nav-profile .icon {
  height: 64px;
}

