<div layout="row" layout-fill layout-align="center center" layout-padding>
  <div layout="column" layout-padding flex>
    <form name="form" ng-submit="$ctrl.login(form)" novalidate>
      <div layout="row" layout-padding>
        <div flex-offset-gt-sm="30" flex-gt-sm="40" flex>
          <div layout="row" layout-align="center center">
            <img class="logo" ng-src="{{ $ctrl.logoSrc }}" alt="Logo">
          </div>
          <md-input-container md-no-float md-is-error="form.email.$invalid && form.$submitted" class="md-block">
            <md-icon md-svg-icon="email"></md-icon>
            <input name="email" ng-model="$ctrl.user.email" type="text" placeholder="Email" required>
            <div ng-messages="form.email.$error">
              <div ng-message-exp="['required', 'email']">Please enter a valid email address.</div>
            </div>
          </md-input-container>
          <md-input-container md-no-float md-is-error="form.password.$invalid && form.$submitted" class="md-block">
            <md-icon md-svg-icon="lock"></md-icon>
            <input name="password" ng-model="$ctrl.user.password" type="password" placeholder="Password" required>
            <div ng-messages="form.password.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <div layout="column"> 
            <md-button type="submit" class="md-raised md-primary">Login</md-button>
          </div>
          <div class="separator">or</div>
          <div layout="column"> 
            <md-button type="button" class="md-raised google" ng-click="$ctrl.authenticate('google')">
              <md-icon md-svg-icon="google-plus" class="icon"></md-icon><span>Login with Google</span>
            </md-button>
          </div>
          <div layout="column"> 
            <md-button type="button" class="md-raised facebook" ng-click="$ctrl.authenticate('facebook')">
              <md-icon md-svg-icon="facebook" class="icon"></md-icon><span>Login with Facebook</span>
            </md-button>
          </div>
          <div layout="column"> 
            <md-button type="button" ng-click="$ctrl.signup()">Don't have an account yet? Sign up</md-button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>